APCA_API_KEY_ID = "YOUR_PAPER_KEY_ID"
APCA_API_SECRET_KEY = "YOUR_PAPER_SECRET_KEY"
APCA_PAPER_BASE_URL = "https://paper-api.alpaca.markets"
APCA_DATA_BASE_URL = "https://data.alpaca.markets"
APCA_DATA_FEED = "iex"
